
<div class="row">
    <div class="main-content">
      <mat-card class="cocktail" (click) = goToMojito()>
        <mat-card-header>
          <!-- <mat-icon>more_vert</mat-icon> -->
          <mat-card-title>Mojito</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="cocktail"(click) = goToMargarita()>
        <mat-card-header>
          <!-- <mat-icon>more_vert</mat-icon> -->
          <mat-card-title>Margarita</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  
    </div>
    
  </div>